@model Routes.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfoAbout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfoAbout)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPremium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPremium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
