@model IEnumerable<Routes.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@await Component.InvokeAsync("BestRoute")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoAbout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPremium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InfoAbout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isPremium)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Roles" asp-action="Edit" asp-route-userid="@item.Id">Edit Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
